<?xml version="1.0"?>
<config>
    <modules>
        <CoinPayments_CoinPayments>
            <version>0.1.0</version>
        </CoinPayments_CoinPayments>
    </modules>

    <global>
        <blocks>
            <coinpayments>
                <class>CoinPayments_CoinPayments_Block</class>
            </coinpayments>
        </blocks>
        <helpers>
            <coinpayments>
                <class>CoinPayments_CoinPayments_Helper</class>
            </coinpayments>
        </helpers>
        <models>
            <coinpayments>
                <class>CoinPayments_CoinPayments_Model</class>
            </coinpayments>
        </models>

        <resources>
            <coinpayments_setup>
                <setup>
                    <module>CoinPayments_CoinPayments</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </coinpayments_setup>
            <coinpayments_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </coinpayments_write>
            <coinpayments_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </coinpayments_read>
        </resources>
    </global>

    <default>
        <payment>
            <coinpayments>
                <active>0</active>
                <model>coinpayments/PaymentMethod</model>
                <order_status>pending</order_status>
                <title>CoinPayments.net - Bitcoin, Litecoin, and other cryptocurrencies.</title>
                <payment_action>sale</payment_action>
                <allowspecific>0</allowspecific>
            </coinpayments>
        </payment>
    </default>
    <frontend>
        <routers>
            <coinpayments>
                <use>standard</use>
                <args>
                    <module>CoinPayments_CoinPayments</module>
                    <frontName>coinpayments</frontName>
                </args>
            </coinpayments>
        </routers>
        <layout>
            <updates>
                <coinpayments_coinpayments>
                    <file>coinpayments.xml</file>
                </coinpayments_coinpayments>
            </updates>
        </layout>
    </frontend>
</config>